/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;900&display=swap');

/* General Styles */
* {
    font-family: "Fira Sans", sans-serif;
}

main {
    margin-top: 60px;
}

/* Header/Nav */

a.btn {
    display: inline-block;
    vertical-align: baseline;
    text-align: left;
}

.navbar {
    position: relative;
}

nav.navbar.navbar-light {
    padding: 0;
}

/* Button */
.navbar .navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(152, 191, 203);
    border: none;
    border-radius: 0;
    width: 80px;
    height: 60px;
}

/* Icon in button */
.navbar-toggler .nav-toggle-icon {
    color: #fafafa;
    font-size: 40px;
    font-weight: bold;
}

.navbar-nav {
    background-color: rgb(152, 191, 203);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    padding: 20px 10px 10px 80px;
}

/* Links in nav menu */
.navbar-light #nav-menu .nav-link {
    color: #fafafa;
    font-size: 24px;
    padding: 0;
    margin-bottom: 12px;
}
 /* Apply more margin bottom to last link */
 .navbar-light #nav-menu #last-nav-link {
    margin-bottom: 20px;
 }
.navbar-nav .nav-link {
    width: fit-content;
    font-weight: 700;
}

/* BOOK button link */
.navbar-light #nav-menu .btn.nav-link {
    border: 2px solid;
    border-radius: 0;
    padding: 4px 30px;
    font-style: italic;
    font-size: 18px;
}

/* Nav social icons */
.nav__socials-container a i {
    color: #fafafa;
    font-size: 32px;
    margin-right: 10px;
}